@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #f8f8f8;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

/* =========================
   CLASH DISPLAY FONT SETUP
========================= */

/* Regular - 400 */
@font-face {
  font-family: "ClashDisplay";
  
  src: url("/newcompare/fonts/clash/ClashDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* SemiBold - 600 */
@font-face {
  font-family: "ClashDisplay";
  src: url("/newcompare/fonts/clash/ClashDisplay-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold - 700 */
@font-face {
  font-family: "ClashDisplay";
  src: url("/newcompare/fonts/clash/ClashDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.mainheading {
  font-family: "ClashDisplay", sans-serif;
  font-weight: 600;
  font-size: 34px; /* Mobile */
  line-height: 1.3;
}

/* =========================
   HEADING STYLES
========================= */

.heading {
  font-family: "ClashDisplay", sans-serif;
  font-weight: 600;
  font-size: 28px; /* Mobile */
  line-height: 1.3;
  color: #102713 !important;
}

.sub-heading {
  font-family: "ClashDisplay", sans-serif;
  font-weight: 700;
  font-size: 20px; /* Mobile */
  line-height: 1.4;
}

/* =========================
   UTILITIES
========================= */
.linear {
  background: linear-gradient(180deg, #d7f5c5 0%, #95ec61 100%);
  opacity: 0.5;
}

.greyBg {
  background: #edefec80;
}

.grey1 {
  color: #0e0f0c;
}

.grey3 {
  color: #6a6c6a;
}

.icon-grey1 {
  color: #cacaca;
}

.content {
  font-size: 16px;
}

.contentlg {
  font-size: 18px !important;
}

.wordspacing {
  word-spacing: 5px;
}

.pri5 {
  background: #ebfae2;
}

.footer-green {
  background: #e9ebe6;
}

.star-green {
  background: #56b73e;
}

/* =========================
   RESPONSIVE
========================= */

@media (min-width: 768px) {
  .heading {
    font-size: 32px;
  }

  .mainheading {
    font-size: 50px;
  }

  .sub-heading {
    font-size: 28px;
  }

  .content {
    font-size: 18px;
  }

  .contentlg {
    font-size: 14px !important;
  }

  .wordspacing {
    word-spacing: 5px;
  }
}
